.section-1,.section-2{
    background: #fff;
}
.section-1 .btn-back{
    background: var(--color-secondary);
    padding: 20px 30px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    display: block;
    width: fit-content;
    margin-bottom: 30px;
}

.section-1 .section-1-banner 
{
    position: relative;
}
.section-1-banner .section-1-banner-img
{
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
}

.section-1-banner .section-1-banner-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 12px;
    background: rgba(0,0,0,.5);
}

.section-1-banner-text h2 {
    color: #fff;
}
.section-1 .section-1-event
{
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
}
.section-1 .section-1-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    max-width: 620px;
}
.section-1-row>div{
    display: flex;
    align-items: center;
    gap: 8px;
}
.section-1-row img {
    max-height: 22px;
}
.section-1-row strong{
    font-size: 20px;
    font-weight: 700;
}
.section-1 .blog-text{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.section-2 p{
    font-size: 20px;
    font-weight: 500;
    margin-top: 7px;
}
.section-2 .section-2-form{
    margin-top: 50px;
    display: grid;
    gap: 30px;   
}
.section-2-form-field .inp{
    background: var(--bg-light);
    border-radius: 5px;
    padding-inline: 30px;
    font-size: 20px;
    font-weight: 500;
}
.section-2-form-field input {
    height: 80px;
}
.section-2-form-field textarea{
    padding-top: 30px;
    height: 200px;
    resize: none;
}
.section-2-form .btn{
    justify-self: end;
    padding: 20px 30px;
    border-radius: 5px;
    background: var(--color-secondary);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
.section-2-form-field .err{
    font-size: 12px;
    font-weight: 500;
    color: orangered;
    line-height: 30px;
}

@media (max-width:980px) {
    .section-1 .section-1-row{
        max-width: 480px;
    }
    .section-1-row div strong{
        font-size: 16px;
    }
    .section-1-row div img{
        height: 16px;
    }

    .section-2-form-field .inp{
        font-size: 17px;
        padding-inline: 18px;
    }
    .section-2-form-field input {
        height: 50px;
    }
    .section-2-form-field textarea{
        height: 130px;
        padding-top: 20px;
    }
    .section-1 .blog-text{
        font-size: 18px;
    }

    .section-1-banner-text h2 
    {
        font-size: 24px;
    }

}

@media (max-width:520px) {
    .section-1 .section-1-row{
        flex-direction: column;
        align-items: start;
        gap: 7px;
    }

    .section-1-banner-text h2 
    {
        font-size: 18px;
    }
    .section-2-form .btn {
        padding: 15px 25px;
        font-size: 18px;
    }
}